[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"

[dev-packages]
codecov = "*"
pre-commit = "*"
pytest = "*"
pytest-cov = "*"
isort = "*"
black = "*"

[requires]
python_version = "3.11"

[scripts]
test = "python -m pytest --cov=./ --cov-report=xml"
